thorium:
  interface: "0.0.0.0"
  port: 8080
  namespace: "thorium"
  secret_key: "CHANGE_ME"
  tracing:
    local:
      level: "Info"
  files:
    password: "SecretCornIsBest"
    bucket: "thorium-files"
  results:
    bucket: "thorium-results"
  ephemeral:
    bucket: "thorium-ephemeral"
  attachments:
    bucket: "thorium-attachments"
  repos:
    bucket: "thorium-repos"
  s3:
    access_key: "minio"
    secret_token: "minio123"
    endpoint: "http://minio:9000"
    region: "us-east-1"
  retention:
    data: 10
    logs: 10
  web_ui:
    version: "0.0.0"
redis:
  host: "redis"
  port: 6379
scylla:
  nodes:
    - "scylla"
  replication: 1
elastic:
  node: "http://elasticsearch:9200"
  username: "elastic"
  password: "changeme"
